
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    /* text-align: center; */
}

.clockman{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.clock{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: url("./images.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

@media screen and (max-width: 800px){
    .clock{
        width: 280px;
        height: 280px;
    }
}

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    /* height: 40%;
    width: 10px; */
    border: 0.1px white solid;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: black;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    z-index: 10;
}

.clock::after{
    content: "";
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.clock .hand.hourhand{
    height: 30%;
    width: 10px;
    background: black;
}

.clock .hand.secondhand{
    height: 40%;
    width: 2px;
    background: orange;
}

.clock .hand.minuteshand{
    width: 10px;
    height: 35%;
    background-color: black;
}



.attribute{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 50px;
    height: 50px;
    background: chocolate;
    border-radius: 50%;
    position: relative;
    margin-left: 20px;
}

.icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
}






