
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    /* text-align: center; */
    background: lightgray;
}

.clockman{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.clock{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: url("./watch.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

@media screen and (max-width: 800px){
    .clock{
        width: 280px;
        height: 280px;
    }
}

.clock .day{
    width: 60px;
    height: 60px;
    /* background: palegreen; */
border-radius: 50%;
    border: 2px white solid;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-60%, -30%);

}

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    /* height: 40%;
    width: 10px; */
    /* border: 0.1px white solid; */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    z-index: 10;
}

.clock::after{
    content: "";
    position: absolute;
    background-color: white;
    z-index: 11;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.clock .hand.hourhand{
    height: 30%;
    width: 2px;
    background: white;
}

.clock .hand.secondhand{
    height: 40%;
    width: 1px;
    background: orange;
    border: none;
}

.clock .hand.minuteshand{
    width: 2px;
    height: 40%;
    background-color: white;
}



.attribute{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 50px;
    height: 50px;
    background: chocolate;
    border-radius: 50%;
    position: relative;
    margin-left: 20px;
}

.icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
}


.day{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



